* {
  margin:0;
  padding:0;
  text-align:center;
}
body {
  background-color:Black;
  background-image:url("https://i0.hdslb.com/bfs/new_dyn/b989a008b34c7d04d0a85cc891342772340911657.jpg@2201w.webp");
  background-size:cover;
  background-repeat:no-repeat;
}
a:link {
  color:White;
}
a:visited {
  color:LightBlue;
}
a:hover {
  color:Orange;
}
.ndd {
  border:1px solid LightBlue;
  color:White;
  border-radius:10px;
  position:fixed;
  top:60px;
  left:0;
  z-index:10;
}
#ndd2 {
  left:20%;
}
#ndd3 {
  left:40%;
}
#ndd4 {
  left:60%;
}
#ndd5 {
  left:80%;
}
.nli {
  width:20%;
  height:60px;
}
.nav {
  width:100%;
  height:60px;
}

#welcome {
  text-align:center;
  text-shadow:1px 5px 10px LightBlue;
  position:relative;
  top:40%;
}


