* {
  margin:0;
  padding:0;
}
.navtab {
  width:20%;
  float:left;
  height:60px;
  text-align:center;
  line-height:60px;
}
.nav {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:60px;
  background-color:LightBlue;
  
  border-radius:0px 0px 40px 40px;
}
a:link {
  color:Black;
}
a:visited {
  color:DarkBlue;
}
a:hover {
  color:Orange;
}
