* {
  margin:0;
  padding:0;
}
body {
  background-image:url("https://i0.hdslb.com/bfs/new_dyn/b989a008b34c7d04d0a85cc891342772340911657.jpg@2201w.webp");
  background-size:cover;
  background-repeat:no-repeat;
}
a:link {
  color:Black;
}
a:visited {
  color:DarkBlue;
}
a:hover {
  color:Orange;
}



#welcome {
  text-align:center;
  text-shadow:1px 5px 10px LightBlue;
  position:relative;
  top:40%;
}


